div(class="send")
  div(class="send_wrap") 
    input(
      type="text" 
      id="send_input"
      name="message" 
      placeholder="Tulis Pesan"
    )
    button(
      type="submit" 
      id="send_btn"
    ) Kirim
    