div(class="send")
  div(class="send_wrap") 
    input(
      type="text" 
      class="send_input"
      name="message" 
      placeholder="Tulis Pesan"
      autocomplete="off"
    )
    button(
      type="submit" 
      class="send_btn"
    ) Kirim
    